:root {
    --top: 20%;
    --pleft: 0%;
    --pright: 0%;
    --mleft: 10%;
    --mright: 10%;
}
.quicksand {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }
body{
    background-color: rgb(80, 97, 155);
    margin-left: 15%;
    margin-right:15%;
    font-family: 'Quicksand', sans-serif;
}

h1{
    color: black;
    text-align: center;
    text-shadow: 0em 0em 1em white;
    font-size: 5em;
    font-family: 'Quicksand', sans-serif;
}

h2{
    color: black;
    padding: 0.5em;
    text-align: center;
    text-shadow: 0em 0em 1em white;
    font-size: 2.5em;
    font-family: 'Quicksand', sans-serif;
}

.dot{
    position: absolute;
    left: 30%;
    top: 40%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    z-index: 7;
    background-color: blue; // Optional: Set a background color 
  
  }

#subheader{
    padding-top: 15%;
padding-bottom: -20%;
margin-bottom: -20%;}

#screen_area_select{
    padding-top: -15%;
    margin-top: -15%;

}
#filler{
    background-color: transparent;
}
#setup-grid-container{
    padding-top: 18%;
    grid-gap: 1em;
    display: grid;
    grid-template:  'item1 item1 item1'
                    'item1 item1 item1'
                    'item1 item1 item1';
    justify-content: center;
}
.grid-item{
    //margin: 5em;
    background: black;
    //background: black;
   /*background-color: lime;*/
   max-height: 30vh;
}

#tl, #tr, #cen, #bl, #br, #returning, #newb{
    background: black;
    color: white;
    font-size: 1em;
    height: 15vh;
    width: 15vh;
    text-align: center;
}
.returning{
    margin-top: 0.1em;
}
#menutext{
    padding-top: 23%;
    text-align: center;
    font-size: 0.5em;
    text-shadow: none;
}
.stop-grid-container {
    padding-top: 15%;
    grid-gap: 1em;
    display: grid;
    grid-template: 'item1 item1'
                    'item1 item1';
    justify-content: center;
}
.stop-grid-item{
    //margin: 5em;
    background: black;
    //background: black;
   /*background-color: lime;*/
   max-height: 30vh;
}
.grid-container {
    padding-top: var(--top);
    padding-left: var(--pleft);
    padding-right: var(--pright);
    margin-right: var(--mright);
    margin-left: var(--mleft);
    grid-gap: 1em;
    display: grid;
    grid-template: 'item1 item1 item1'
                    'item1 item1 item1';
    
}
#map{
    //position: relative;
    padding-top: var(--top);
    padding-left: var(--pleft);
    padding-right: var(--pright);
    margin-right: var(--mright);
    margin-left: var(--mleft);
    z-index: 1;
}
#a, #b, #c, #d, #e, #f, #g, #h, #i, #stop, #go, #go2 {
    //padding: 1em;
    font-size: 4em;
    //border: 10px solid #f107a7;
    //margin: 0.5em;
    text-align: center;
}

canvas{
   // background-color: chartreuse;
    //border-color: chartreuse;
    
}
#empty{
    background: transparent;
}