<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Setup Menu</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Setup Menu</h1>
    </header>
    <main>
        <div id="area select">
        <p> Have you used Neuromove before?<p>
            <div class = "setup-grid-container" id = "setup-grid-container">
                <div class = "grid-item" id="tl"><p id= "menutext">No, I'm new</p></div>
                <div class = "grid-item" id="tr"><p id= "menutext">Yes, I'm returning</p></div>
            </div>
        </div>
    </main>
    <script src = "{{url_for('static', filename='bcisetup.js') }}"></script>
</body>
</html>