<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <title>Setup Menu</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Setup Menu</h1>
    </header>
    <main>
        <div id="screen_area_select">
        <h2 id= "subheader"> Select an area of the screen on which to display content<h2>
            <div class = "setup-grid-container" id = "setup-grid-container">
                <div class = "grid-item" id="tl"><p id= "menutext">Top Left</p></div>
                <div class = "filler"></div>
                <div class = "grid-item" id="tr"><p id= "menutext">Top Right</p></div>
                <div class = "filler"></div>
                <div class = "grid-item" id="cen"><p id= "menutext">Centre</p></div>
                <div class = "filler"></div>
                <div class = "grid-item" id="bl"><p id= "menutext">Bottom Left</p></div>
                <div class = "filler"></div>
                <div class = "grid-item" id="br"><p id= "menutext">Bottom Right</p></div> 
            </div>
        </div>
    </main>
    <script src = "{{url_for('static', filename='setupmenu.js') }}"></script>
</body>
</html>