<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>p300test</title>
</head>
<body>
    <div class = "grid-container">
    <div class = "grid-item" id="stop"><canvas id = "s" width = "150" height = "100"> </canvas></div>
    <div class = "grid-item" id="go"><canvas id = "g" width = "150" height = "100"> </canvas></div>
    <div class = "grid-item" id="go2"><canvas id = "g2" width = "150" height = "100"> </canvas></div>

    <!--<div class = "stop-grid-item" id="switch"><canvas id = "sw" width = "500" height = "400"> </canvas></div> -->

</div>
<script src = "{{url_for('static', filename='stop_go.js') }}">
</script>
</body>
</html>