<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>p300test</title>
</head>
<body>
    <div class = "stop-grid-container">
    <div class = "stop-grid-item" id="stop"><canvas id = "s" width = "500" height = "400"> </canvas></div>
    <div class = "stop-grid-item" id="go"><canvas id = "g" width = "500" height = "400"> </canvas></div>
    <!--<div class = "stop-grid-item" id="switch"><canvas id = "sw" width = "500" height = "400"> </canvas></div> -->

</div>
<script src = "stop_go.js"> 
</script>
</body>
</html>