body{
    background-color: rgb(80, 97, 155);
    margin-left: 15%;
    margin-right:15%;
}

.grid-item{
    //margin: 5em;
    background: black;
    //background: black;
   /*background-color: lime;*/
   max-height: 30vh;
}
.grid-container {
    padding-top: 15%;
    grid-gap: 1em;
    display: grid;
    grid-template: 'item1 item1 item1'
                         'item1 item1 item1'
                         'item1 item1 item1';
    
}
#a, #b, #c, #d, #e, #f, #g, #h, #i {
    //padding: 1em;
    font-size: 4em;
    //border: 10px solid #f107a7;
    //margin: 0.5em;
    text-align: center;
}

canvas{
   // background-color: chartreuse;
    //border-color: chartreuse;
    
}
