div {
    display: flex;
    justify-content: center;
}

div[data-testid="stColumn"] {
    width: fit-content !important;
    flex: unset;
}

div[data-testid="stColumn"] * {
    width: 100px !important;
}

button {
    height: 100px;
    width: 100px !important;
}

button p {
    font-size: 60px !important;
    font-weight: 800;
}

.screen-area-container {
    width: 100vw;
    height: calc(100vh - 320px);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.screen-area {
    flex: 1;
    align-items: center;

    font-size: 36px;
    font-weight: bold;
    cursor: pointer;
}

.screen-area:hover {
    background-color: #334364;
    color: white
}

.border {
    background-color: black;
}