body{
    background-color: grey;
    margin-left: 15%;
    margin-right:15%;
}

.grid-item{
    //margin: 5em;
    background: salmon;
   /*background-color: lime;*/
   max-height: 30vh;
}
.grid-container {
    grid-gap: 3px;
    display: grid;
    grid-template: 'item1 item1 item1'
                         'item1 item1 item1'
                         'item1 item1 item1';
    
}
#a, #b, #c, #d, #e, #f, #g, #h, #i, #stop, #go, #go2 {
    //padding: 1em;
    font-size: 4em;
    //border: 10px solid #f107a7;
    //margin: 0.5em;
    text-align: center;
}